body {
    font-family: 'Poppins', sans-serif; /* Default font for the body */
    background-color: #22223B;
    color: #fff;
    margin: 0;
    padding: 0;
    display: block;
    transition: background 0.3s ease; 
}

.hero {
    font-family: 'Raleway', sans-serif; /* Font for the hero section */
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.section {
    font-family: 'Montserrat', sans-serif; /* Font for section headings */
    width: 100%;
    background-color: #313E50;
    padding: 0;
    border-radius: 13px;
    padding-bottom: 12px;
}

#cover-pic {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.details {
    margin: 0 18px;
}
.details h2 {
    margin-bottom: 0;
    margin-top:0;
}
.details p{
    margin-top: 7px;
    font-size: 0.875rem;
    margin-bottom: 4px;
}
.details h3{
    font-weight: 500;
    
}
#dp {
    border-radius: 50%;
    width: 20%;
    margin-left: 4%;
    margin-top: -10%;
    
}

#repo-list {
    margin: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 18px;
}

.card {
    font-family: 'Lato', sans-serif; /* Font for card content */
    background-color: #071e38;
    text-align: center;
    padding: 0px 10px 14px 10px;
    border-radius: 10px;
    border: 1px solid #4A4E69;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    flex-grow: 1;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(116, 178, 241, 0.3); /* Purple shadow effect on hover */
    transform: translate3d(3px, -3px, 0);
}

.card a {
    text-decoration: none;
    color: #E1E1E1;
    font-weight: lighter;
    font-size:smaller; 
}

.card p {
    font-size: 1rem;
    color:#E1E1E1;
}

.view-button {
    font-family: 'Raleway', sans-serif; /* Font for buttons */
    background-color: #12234b;
    border: 1px solid hsl(221, 54%, 22%);
    padding: 6px 12px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 0.875rem;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); /* Example box-shadow with color and transparency */


}

.view-button:hover {
    background-color: rgba(95, 146, 198, 0.253);
    
}
