body {
    font-family: Arial, sans-serif;
    background-color: #22223B;
    color: #fff;
    padding: 0;
    display:block;

}
.hero{
    width:80%;
    display: flex;
    flex-direction: column;
    margin:auto;
    gap:18px;
}

.section{
    width: 100%;
    background-color: #313E50;
    padding:0px;
    border-radius: 13px;
    padding-bottom: 12px;
}
#cover-pic {
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.details {
    margin-left:18px;
}
#dp{
    border-radius: 50%;
    width: 20%;
    margin-left: 4%;
    margin-top:-10%;
}
#repo-list{
    margin:18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px;

}


.card{
    background-color: #22223B;
    text-align: center;
    padding:0px 9px 9px 9px;
    border-radius: 6px;
    border:2px solid #4A4E69;
    flex-grow: 1;
}


.card a{
    text-decoration: none;  
}



